##
## ======================================================================
## @license Copyright 2016-2019Pierre Schebath
## ---------------------
## @brief This file has been written by Pierre Schebath.
## 
## This source code, its related data and algorithms are Pierre Schebath
## Proprietary Information and shall be protected in strict confidence by
## the party who receives it. It shall not be disclosed nor copied nor
## duplicated in whole or in part to any third party without Pierre Schebath
## written prior permission.
## ======================================================================
## .gitignore for BM in  /Documents/Private/Projects/Beauty-Makeup
## Pierre Schebath
## 
## Started on  Fri Jun 26 21:01:38 2020 @author glider
Last update Fri Jan 23 08:40:17 2026 @author Glider
## ======================================================================
##

# ignore all logs

*.log
*~
\#*\#
*.o
www/.cookingpot
.csswatcher
.dir-locals-2.el
.dir-locals.el
.project
planning/
RSS/